.custom-breadcrumb {
  
  padding: 1rem 2rem;
  margin: 0;
  border-radius: 0;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: var(--text-color);
  content: ">";
  padding: 0 0.8rem;
}

.breadcrumb-item a {
  color: var(--primary-color) !important;
  text-decoration: none;
  transition: opacity 0.3s;
}

.breadcrumb-item a:hover {
  opacity: 0.8;
}

.breadcrumb-item.active {
  color: var(--text-color) !important;
}

@media (max-width: 768px) {
  .custom-breadcrumb {
      padding: 0.8rem 1rem;
      font-size: 0.9rem;
  }
  
  .breadcrumb-item + .breadcrumb-item::before {
      padding: 0 0.5rem;
  }
}