* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #0000b4;
    font-size: 24px;
}

body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: white;
}

header {
    height: 110px;
    background-color: #0000b4;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    text-align: center;
    border-bottom: 2px solid white;
}

.headout {
    position: relative;
    left: 160px;
    border: 4px solid white;
    padding: 6px 87px;
    color: #ffffff;
    outline-width: 2px;
    text-decoration: none; /* Убираем подчеркивание у ссылки */
    display: inline-block; /* Чтобы ссылка вела себя как блоковый элемент */
}

.headout:hover {
    cursor: pointer; /* Добавляем указатель при наведении */
}


header h1 {
    font-size: 24px;
    font-family: 'Dela Gothic One', sans-serif;
    color: white;
}

.main h2 {
    font-size: 40px;
    font-family: 'Dela Gothic One', sans-serif;
    font-weight: bold;
}

/* Hero Section with Background Image */
.hero {
    position: relative; /* Позволяет позиционировать заголовок внутри */
    background-size: cover; /* Картинка покрывает всю секцию */
    background-position: center;
    height: 450px;
    display: flex;
    justify-content: left;
}

.hero h2 {
    position: absolute; /* Абсолютное позиционирование для текста */
    z-index: 10; /* Текст будет поверх изображения */
    color: white;
    font-size: 48px;
    padding: 0px 0px;
    margin-top: 230px;
    margin-left: 160px;
    font-family: 'Dela Gothic One', sans-serif;
    border-radius: 10px;
    text-align: left;
}

/* Optional: Ensuring the image fits well in the section */
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Затемнение фона, чтобы текст был виднее */
    z-index: 5; /* Затемнение под текстом */
}

/* Info Cards Layout */
.info-cards {
    display: flex; /* Используем flexbox для размещения карточек в строку */
    justify-content: space-between; /* Распределяем карточки по ширине */
    gap: 20px; /* Расстояние между карточками */
    margin: 50px 160px 82px 160px;
}

.card {
    padding-left: 30px;
    padding-top: 30px;
    background-color: #ffffff;
    width: 350px;
    height: 170px;
    margin: 0px;
    text-align: left;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), -2px -2px 5px rgba(0, 0, 0, 0.1); /* Shadow around the card */
    transition: transform 0.3s ease; /* Hover effect */
    flex-shrink: 0; /* Карточки не должны сжиматься при переполнении */
}

.card:hover {
    transform: scale(1.05); /* Slightly enlarge the card on hover */
}

.card h3 {
    margin-top: 22px;
    margin-left: 30px;
    font-size: 24px;
    color: #0000b4;
    font-family: 'Dela Gothic One', sans-serif;
}

/* Стили для заголовков внутри карточек */
.card .card-body .card-title h5 {
    color: #0000b4; /* Синий цвет */
    font-size: 24px; /* Размер шрифта 24px */
  }
  

.card p {
    color: black;
    margin: 20px 0px 0px 0px;
    font-size: 24px;
    text-align: left;
    font-family: "DM Sans", sans-serif;
}

.parking-map h2{
    font-family: 'Dela Gothic One', sans-serif;
    color: black;
    text-align: left;
    font-size: 40px;
    margin-left: 160px;
    margin-top: 45px;
    margin-bottom: 15px;
}

.parking-map img {
    max-width: 100%;
    height: auto;
    margin-bottom: 40px;
}

.legend {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    height: 40px;
    margin-bottom: 30px;
    color: black;
}

.zone-marker {
    margin-left: 160px;
    width: 40px;
    height: 40px;
    background-color: #6989d6; /* Цвет квадрата зоны парковки */
    margin-right: 10px;
}

/* Contact Section */
.footer {
    background-color: white;
    color: #0000b4;
    padding-bottom: 300px;
    text-align: center;
    font-family: 'Dela Gothic One', sans-serif;
}

.footer h2 {
    margin-top: 100px;
    margin-left:160px;
    margin-right:760px;
    padding-bottom: 30px;
    font-size: 48px;
    border-bottom: 3px solid rgb(118, 167, 190);
    text-align: left;
    margin-bottom: 30px;
}

.footer p {
    font-size: 20px;
    text-align: left;
    margin: 0px 160px;
    color: #000000;
}

.footer a {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    text-align: left;
}